.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.project
.prefs
.settings
.classpath
*.project
*.prefs
*.settings
*.classpath 
*/*.project
*/*.prefs
*/*.settings
*/*.classpath 
*/*/*.project
*/*/*.prefs
*/*/*.settings
*/*/*.classpath 
*/*/*/*.project
*/*/*/*.prefs
*/*/*/*.settings
*/*/*/*.classpath 
*/*/*/*/*.project
*/*/*/*/*.prefs
*/*/*/*/*.settings
*/*/*/*/*.classpath 
*/*/*/*/*/*.project
*/*/*/*/*/*.prefs
*/*/*/*/*/*.settings
*/*/*/*/*/*.classpath 

*.epoch

*.log

*.lck
*.MF
*/.idea/
*/*.iml
*.iml