<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yunus.trakyadepo" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Infrastructure.Mainapp"
        android:allowBackup="true"
        android:icon="@drawable/trakya"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Trakya Depo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kayitActivity"
            android:label="Kayit"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".PrefencesActivity"
            android:label="Ayarlar" />
        <activity
            android:name=".etkinlikActivity"
            android:label="Etkinlik Hazırla">

        </activity>
        <activity
            android:name=".soruActivity"
            android:label="Soru Hazırla"

            />
        <activity
            android:name=".DersSecimi"
            android:label="Ders Secimi"

            />
        <activity
            android:name=".newpostActivity"
            android:label="Yeni Gönderi"
            />
        <receiver
            android:name=".AlertReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
